* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("./background2.webp") no-repeat center center fixed;
  background-size: cover;
}

.box {
  background: rgba(255, 255, 255, 0.308); /* semi-transparent white */
  margin: 65px 390px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer {
  margin-left: 15px;
  font-size: larger;
}

.heading {
  margin-bottom: 45px;
  padding-top: 50px;
  text-align: center;
  font-family: monospace, sans-serif;
  color: rgba(43, 32, 102, 0.776);
}

.innerbox {
  padding-right: 250px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.actions {
  margin: 50px 0;

  display: flex;
  gap: 46px;
}
button {
  padding: 18px 31px;
  background: rgba(8, 117, 201, 0.29);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 25px;
  border: rgba(8, 117, 201, 0.5) solid 1px;
}
button:hover {
  cursor: pointer;
  background: rgba(8, 117, 201, 0.59);
}

#effects-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

.effect {
  position: relative;
  width: 100px;
  height: 100px;
  opacity: 0.9;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

.rock {
  background: url("./stone.png") center/contain no-repeat;
  animation-name: rockFall;
}

.paper {
  background: url("./paper.png") center/contain no-repeat;
  animation-name: paperFall;
}

.scissor {
  background: url("./scissor.png") center/contain no-repeat;
  animation-name: scissorMove;
}

@keyframes rockFall {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

@keyframes paperFall {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
  }
}

@keyframes scissorMove {
  0% {
    transform: translateX(-100px) rotate(0deg);
  }
  100% {
    transform: translateX(100vw) rotate(720deg);
  }
}

.confetti {
  position: absolute;
  width: 8px;
  height: 15px;
  top: -20px;
  animation: confettiFall 3s ease-out forwards;
}

@keyframes confettiFall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0.1;
  }
}
